<% layout("/layouts/boilerplate") %>
<form action="/listings" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
    <div class="row">
        <div class="col-8 offset-2">
            <br><br>
                <h1>Create a New Listing</h1>
        <div class="mb-3">
        <label for="title" class="form-label"> Title </label>
        <input type="text" name="listing[title]" placeholder="Add a catchy title"  class="form-control" required/>
        <div class="valid-feedback">Title looks good!</div>    
    </div>
        <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="listing[description]"  class="form-control" required></textarea>
        <div class="invalid-feedback">Please enter a short description</div>        
    </div>
        <div class="mb-3">
            <label for="image" class="form-label">Image Link</label>    
            <input name="listing[image]" placeholder="Upload File"  type="file" class="form-control"/>
        </div>
        <div class="row">
        <div class="mb-3 col-md-4">
        <label for="price" class="form-label"> Price</label>
        <input name="listing[price]" placeholder="1200"  class="form-control" required />
        <div class="invalid-feedback">price  should be valid</div>    
    </div>
        <div  class="mb-3 col-md-8">
        <label for="Country" class="form-label"> Country </label>
        <input name="listing[country]" placeholder="India" type="text"  class="form-control" required/>
        <div class="invalid-feedback">Country name  should be valid</div>        
    </div>
        </div>
        <div class="mb-3">
        <label for="Location" class="form-label"> Location </label>
        <input name="listing[location]" placeholder="Moradabad,Delhi" type="text" class="form-control" required/>
        <div class="invalid-feedback">location should be valid</div>        
    </div>
        
        <button class="btn btn-dark add-btn mt-3">Add</button>
          <br><br>
    </form>
</div>
</div>